:root {
    /* ====== COLORS ====== */
    --gradient-color-1: #ffecd2;
    --gradient-color-2: #fed6e3;
    --portfolio-color: linear-gradient(to right top, var(--gradient-color-1), var(--gradient-color-2));

    --primary-color: rgba(250, 126, 112, 0.4);
    --text-color: rgb(116, 91, 91);

    --container-color: #FFF;
    
    /* ====== FONT AND TYPOGRAPHY ====== */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /* ====== SPACING ====== */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;

    --header-height: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--gradient-color-1);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ====== HEADER ====== */
.nav {
    height: var(--header-height);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
    display: grid;
    grid-template-columns: 10% 1fr 12%;
    
    background-color: var(--gradient-color-1);
    box-shadow: 0px 2px 6px var(--primary-color);
    opacity: 0.9;
}

.nav-links {
    width: 50%;
    
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-around;
    justify-self: center;
    align-items: center;

    font-weight: 600;
    color: var(--text-color);
}

.nav-item {
    color: inherit;
    cursor: pointer;
}

.nav-item::after {
    content: '';
    width: 0;
    height: 2px;

    display: block;
    
    background: var(--text-color);
    /* not working like i want to */
    transition: width 0.3;
}

.nav-item:hover::after {
    width: 100%;
    transition: width 0.3;
}

.social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;

    order: 3;
}

.social-links img {
    width: 20px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s;
}
.social-links img:hover {
    width: 24px;
    opacity: 1;
}

.social-link .fab:hover {
    opacity: 1;
}

section {
    height: calc(100vh - var(--header-height));
}

.section {
    position: relative;
}

/* ====== HOME ====== */
.home-section {
    height: calc(100vh - var(--header-height));
    margin-top: var(--header-height);
}

.home-container {    
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}

.me-img {
    width: 500px;
    max-width: 80%;
    position: relative;
    
    border-radius: var(--mb-4) 0 var(--mb-4) 0;
    object-fit: cover;
    filter: brightness(80%);
    order: 1;
}

.presentation {
    position: relative;
    right: 8rem;
    justify-self: end;
}

/* ====== ABOUT ====== */

.title {
    margin: var(--mb-4) 0;
    text-align: center;
    letter-spacing: var(--mb-1);
    text-transform: uppercase;
}

.about-section {
    position: relative;
}

.about-section .title {
    margin-bottom: 0;
}

.title::before {
    content: '----- ';
    width: 50px;
    height: 2px;
    position: relative;
    top: 50%;   
}

.title::after {
    content: ' -----';
    width: 50px;
    height: 2px;
    position: relative;
    top: 50%;   
}

.availability-status {
    margin-bottom: 2rem;
    text-align: center;
    text-decoration: underline overline wavy;
    color: rgb(107, 153, 107);
}

.section-content {
    width: 80%;
    margin: 0 auto;

    text-align: justify;
    word-spacing: 0.125rem;
    line-height: 2.3rem;
}

.about .job-positions {
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase;
}

.hobbies-title {
    margin: var(--mb-2) 0 2rem 0;
    text-align: center;
    text-decoration: dotted;
    letter-spacing: 1.2px;
}

.hobbies {
    display: flex;
    justify-content: space-around;
}

.hobbie-item {
    padding: 1rem 1rem 2rem;
    
    text-align: center;
    box-shadow: 0px 2px 8px var(--primary-color);
    border-radius: var(--mb-2);
    transition: 0.3s;
}

.hobbie-item:hover {
    box-shadow: 0px 2px 8px 3px var(--primary-color);
}

.watch-resume {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;

}

/* ====== SKILLS ====== */

/* ====== PORTFOLIO ====== */

/* ====== CONTACT ====== */
.contact-content {
    padding: var(--mb-2) var(--mb-2);
 
    box-shadow: 0px 2px 8px var(--primary-color);
    border-radius: var(--mb-1);
}

.form-email {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

label[for="message"] {
    display: block;
}

input {
    padding: var(--mb-1);
    margin-bottom: var(--mb-1);
    width: 20rem;

    display: block;
    
    border-radius: var(--mb-1);
}

input::placeholder {
    color: grey;
    transition: color 0.3s ease;
    /* Not working as I wanted */
}

input:focus::placeholder {
    color: transparent;
    border: solid var(--gradient-color-2);
}

textarea {
    resize: none;
    padding: var(--mb-1);
    transition: color 0.5s ease;
}

textarea::placeholder {
    color: grey;
}

textarea:focus::placeholder {
    color: transparent;
    border: solid var(--gradient-color-2);
}

.send-email {
    padding: var(--mb-1);
    
    display: flex;
    justify-content: end;
}

/* ====== FOOTER ====== */
.footer-copy {
    margin: var(--mb-1);       
}