.tabs button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.tabs button:hover {
  background-color: var(--primary-color);
  color: white;
}

.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  margin-top: 1em;
}

.projects-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.projects-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari */
}

.project-card {
  margin-right: 15px;
}

.project-card.disabled {
  pointer-events: none; /* Disable interactions */
  opacity: 0.5; /* Make it look disabled */
  filter: grayscale(100%); /* Optional: make it grayscale */
}

.toggle-button.active {
  background-color: var(--secondary-color);
  color: white;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

img {
  width: 200px;
  border-radius: 12px;
}