.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  height: 100dvh;
  min-height: 500px;
  align-items: center;
}

.me-img {
    width: 300px;
    border-radius: 20%;
  }

.intro {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width >= 800px) {
  .home-section {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }
  
  }

@media (width >= 1400px) {
  .me-img {
      max-width: 400px;
      width: 400px;
    }
  }

  
  .typing {
    max-width: 100%; /* Keep within the container */
    overflow: hidden;
    word-break: break-word; /* Ensure long words wrap */
  }
  