/* ====== HOME ====== */
/* Represents home container */
.home-container {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/* Represents my image */
.me-img {
    min-width: 225px;
    max-width: 75%;
    min-height: 340px;
    max-height: 80%;

    position: relative;
    top: -8%;
    right: var(--mb-4);
    align-self: center;
    justify-self: center;

    border-radius: var(--mb-4) 0 var(--mb-4) 0;
    object-fit: cover;
    filter: brightness(80%);
    order: 1;
}

/* Represents my presentation text */
.presentation {
    width: 100%;
    margin-left: var(--mb-4);

    position: relative;
    top: -8%;
    align-self: center;
    justify-self: center;

    font-size: var(--biggest-font);
}

.typing {
    position: relative;
}

/* Represents the blink presented after the intro */
.typing::after {
    content: "";
    height: 5%;
    width: 1px;

    position: relative;
    right: -4px;

    border-right: 4px solid white;
    animation: blink 0.5s infinite ease;
}

/* Blink animation */
@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
