#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  /* ====== COLORS ====== */
  --gradient-color-1: #ffecd2;
  --gradient-color-2: #fed6e3;
  --portfolio-color: linear-gradient(
      to right,
      var(--gradient-color-1),
      var(--gradient-color-2)
  );

  --text-color: #2f4858;
  --container-color: #745b5b;
  --light-blue: #71c4c7;

  /* ====== FONT AND TYPOGRAPHY ====== */
  --body-font: "Poppins", sans-serif;
  --biggest-font: 2rem;
  --section-title-font: 1.5rem;
  --normal-font: 1rem;
  --small-font: 0.87rem;
  --semi-bold: 600;

  /* ====== SPACING ====== */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;

  --header-height: 3rem;

}

section {
  /* 
    Each section will take all the screen => 100vh
    beginning after the header + some extra margin
  */
  display: grid;
  place-content: center;
  margin-top: calc(var(--header-height) + var(--mb-1));
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
