/* General Styles */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: var(--body-font);
  background: var(--portfolio-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

/* Represents each section title */
.title {
  width: max-content;

  position: relative;
  left: 50%;

  transform: translateX(-50%);
  font-size: var(--section-title-font);
  letter-spacing: var(--mb-1);
  text-transform: uppercase;
  color: var(--primary-color);

}

.title::before {
  content: "";
  width: var(--mb-4);
  height: 2px;

  position: absolute;
  top: 50%;
  left: -15%;

  background: var(--text-color);
}

.title::after {
  content: "";
  width: var(--mb-4);
  height: 2px;

  position: absolute;
  top: 50%;

  background: var(--text-color);
}

/* Media Queries for Responsive Title */
@media (max-width: 1200px) {
  .title {
    font-size: 1.8rem;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 1.4rem;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 1.2rem;
  }
}

section {
  /* 
    Each section will take all the screen => 100vh
    beginning after the header + some extra margin
  */
  display: grid;
  place-content: center;
  margin-top: calc(var(--header-height) + var(--mb-1));
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--primary-color));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0 10px;
}

button:hover {
  background-color: var(--primary-color);
  color: white;
}

button.active {
  background-color: var(--secondary-color);
  color: white;
}