:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f5f5f5; /* Light Gray */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* ====== COLORS ====== */
  --gradient-color-1: #f5f5f5; /* Light Gray */
  --gradient-color-2: #e0e0e0; /* Slightly darker Light Gray */
  --portfolio-color: linear-gradient(
      to right,
      var(--gradient-color-1),
      var(--gradient-color-2)
  );

  --text-color: #333333; /* Dark Gray for better readability */
  --container-color: #ffffff; /* White for contrast */
  --light-blue: #a0c4ff; /* Softer, modern light blue */
  --primary-color: #ff6f61; /* Coral */
  --secondary-color: #4a90e2; /* Light Blue */
  --background-color: #f5f5f5; /* Light Gray */
  --header-background: #ffffff; /* White */
  --header-shadow: rgba(0, 0, 0, 0.1); /* Stronger shadow for highlighting */
  --title-background-color: #f0f0f0; /* Light Gray for title background */

  /* ====== FONT AND TYPOGRAPHY ====== */
  --body-font: "Poppins", sans-serif;
  --biggest-font: 2.5rem; /* Increased for more impact */
  --section-title-font: 2rem;
  --normal-font: 1.2rem;
  --small-font: 0.87rem;
  --semi-bold: 600;
  --bold: 700; /* Added bold weight */
  --light: 300; /* Added light weight */

  /* ====== SPACING ====== */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;

  --header-height: 3rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
  color: var(--text-color);

}

html {
    scroll-behavior: smooth;
    background-image: var(--portfolio-color);
}